
body{
    text-align: center;
    margin:0;
    background-color: #05030e;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#zdj1{
    display: block;
}
#zdj2{
    display: none;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    z-index: 10;
}
.nazwa{
    display: block ;
    width: min-content;
    position: absolute;
    margin: 350px auto;
    left: 0;
    right: 0;
    
    font-size: 100px;
    font-weight: bolder;
    color: whitesmoke;
}
.menu{
    
    height: 150px;
    margin-top:10px;
    
}
.back{
   
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    border-bottom: 5px solid #1e124d;
 width: 100%;
 height: 120px;
    display: inline-block;
}
.menu-item .zd{
    display: inline-block ;
    z-index: 8;
    position: absolute;
    left: 60px;
    margin: 10px 40px;
   
}
.menu-item{
    z-index: 8;
    width: 100%;
    
}
.menu span{
    z-index: 9;
position: absolute;

margin: 40px 20px;
color: white;
font-size: 30px;

}
.menu-item ul{
    
    z-index: 8;
    float: right;
    padding: 0;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    
}
.menu-item li{
    display: none;
    border-radius: 5px;
    z-index: 8;

    opacity: 0.9;
    margin:30px 10px;
    width: 250px;
  text-align: center;
  
  height: 50px;
  border: 0px 1px solid black;
  list-style-type: none;

  
}
.menu-item li:hover{
    background-color: #372a58;

}

.zdj{
    z-index: -1;
    display: inline-block;
    width: 100%;
}
.menu-item li a{
    
    font-size: 25px;
    color:  #fef8fa;
    width: 100%;
    height: 30px;
    padding: 10px 3px;
    display: inline-block;
    text-decoration: none;
}
.gra{
   border-radius: 10px;
    margin:30px 50px;
    width: 300px;
    height: 400px;
    background-color: #1d1b1b;
    display: inline-block;
    transition: width 0.4s,height 0.4s,margin 0.4s;
    border: 1px solid blueviolet;
}
#gra1{
    border: 1px solid yellow;
}
#gra1 span{
    color: yellow;
}
.gra span{
    color: blueviolet;
    font-size: 30px;
}
.kafelki{ 
    text-align: center;
	display:block;
}
.zdjGry{
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
    width:240px;
   justify-content: center;
   margin: auto;
    height: 300px;
    background-color: rgb(0, 0, 0);
}
.gra:hover{
    cursor: pointer;
    margin:20px 40px;
    width: 315px;
    height: 415px;
}
.tytul{
    margin-bottom: 50px;
    display: block;
    background-color: #120b2e;
    color: #8a2be2;
   
    font-size: 50px;
}
.zdjGry img{
    
  width: 240px;
}

.black{
    overflow: hidden;
    width: 100%;
    background-color: black;
    margin-top: 150px;
    height: auto;
}
.opis{
    padding: 50px;
    margin: 100px 50px;
    display: block; 
    background-color: #715e96;
    border-radius: 10px;
    color: #fff9fb;
    font-size: 25px;
    width: auto;
}
.tytul1{
    margin-top: 50px;
   
    display: block;
    color: yellow;
    margin-bottom:50px ;
    font-size: 50px;
}

header .menu-icon .navicon::before,header .menu-icon .navicon::after{
    background-color: blueviolet;
    content:" ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    transition: transform 0.2s;
   }
.navicon::before{
    top: 10px;
    
}
.navicon::after{
    top:-10px;

}
.menu-btnc{
    display: none;
}
.menu-icon{
    cursor: pointer;
    float: right;
    padding: 10px;
    position: relative;
    right: 50px;
    z-index: 9;
    top: 50px;
}
.menu-icon .navicon{
    
    border-radius: 5px;
    z-index: 9;
    display: block;
    position: relative;
    height: 4px;
    width: 35px;
   
    
    background-color: #8a2be2;
}
.menu-btnc:checked ~.menu-icon .navicon{
    background-color: transparent;
 }
 .menu-btnc:checked ~.menu-icon .navicon::before{
   bottom: 2px;
   right: -5px;
   transition: transform 0.2s;
    transform: rotate(45deg) translate(-7px);
 }
 .menu-btnc:checked ~.menu-icon .navicon::after{
    transform: rotate(-45deg) translate(-7px);
    top: 0.2px;
    right: -5px;
    transition: transform 0.2s;
 }   
 .menu-btnc:checked ~.menu-item ul li {
    display: inline-block;
    width: 100%;
    opacity: 0.8;
    border-radius: 10px;
    background-color:  rgba(137, 43, 226, 0.322);
   margin: 0 ;
   border-top: 2px solid #000000 ;
   border-bottom: 2px solid #000000;
 }
 .menu-btnc:checked ~.menu-item ul li:hover {
 
    background-color: #372a58;
    
 }

 .menu-btnc:checked ~.menu-item ul {
    display: block;

    width: 100%;
    height: max-content;
    margin-top: 100px;
   text-align: center;
   
 }
 .wyb{
     background-color:#372a58 ;
 }
 section{
     margin: 0;
 }

@media(min-width:1280px){
.menu-icon .navicon{
    display: none;
}
.menu-item li{
    display: block;
}
}
@media(max-width:800px){
    .zd{
        left: 5px !important;
    }
    #zdj1{
        display: none;
    }
    #zdj2{
        display: block;
    }
    body{
        background-color: black;
    }
    .wyb{
        background-color: #2f0f80c9 !important;
    }
    .menu-item li:hover{
        background-color: #2f0f80c9 !important;
    
    }
}


