body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.kwadrat{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
}
.rzad{
    padding: 0;
    margin: 0;
    display: block;
}
.zajete{
    background: red;
}